# Airflow
airflow_home/
logs/
dags/__pycache__/
*.pid
*.db
plugins/
.cdsapirc

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Docker
*.log
*.sock
.env

# VS Code
.vscode/

.grafana/
.images/
.data/crate/
.Best-README-Template/